<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.penjualan" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PenjualanApplication"
        android:allowBackup="true"
        android:label="Penjualan"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Penjualan">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".kategori.DatakategoriActivity" android:exported="false" />
        <activity android:name=".kategori.ModKategoriActivity" android:exported="false" />
        <activity android:name=".produk.ProdukActivity" android:exported="false" />
        <activity android:name=".pegawai.PegawaiActivity" android:exported="false" />
        <activity android:name=".cabang.CabangActivity" android:exported="false" />
        <activity android:name=".transaksi.TransaksiActivity" android:exported="false" />
        <activity android:name=".laporan.LaporanActivity" android:exported="false" />
        <activity android:name=".profil.ProfilActivity" android:exported="false" />
        <activity android:name=".cetak.CetakActivity" android:exported="false" />
    </application>
</manifest>